:root {
  --text-color: #000;
  --background-color: black;
  --cursor-color: white;
}

.reverse {
  mix-blend-mode: difference;
}

$size: 24px;

.cursor-hold-circle {
  background: red;
  width: 100%;
  height: 100%;
}

.cursor {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;

  contain: layout style size;
  pointer-events: none;
  will-change: transform;

  transition: opacity 0.3s, color 0.4s;
  // transition-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);

  .cursor-circle {
    content: '';
    position: absolute;
    top: -$size;
    left: -$size;
    display: block;
    width: $size * 2;
    height: $size * 2;
    transform: scale(0.8);
    z-index: -1;

    border: 1px solid var(--cursor-color);
    background: transparent;

    border-radius: 50%;
    overflow: hidden;

    transition: transform 0.3s ease-in-out, opacity 0.1s, background-color 0.1s;
    &:before {
      content: '';
      position: absolute;
      top: -20%;
      left: 0%;
      display: block;
      width: 100%;
      height: 120%;
      transform: translateY(100%);
      transition: all 500ms ease;
    }
    &.-holding:before {
      transform: translateY(0%);
      // border: 1px solid yellow;
      transition: all 1500ms ease;
    }
  }

  &.-active .cursor-circle {
    transform: scale(0.75);
    transition-duration: 0.2s;
  }
  &.-sticky .cursor-circle {
    transform: scale(1.1);
  }
  &.-visible {
    display: block;
  }
}

[data-cursor-link] {
  user-select: none;
  -webkit-user-drag: none;
}
